{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue sur le super site lorem !</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum corrupti est fugiat, reprehenderit eveniet optio unde aliquid itaque dolor corporis similique deleniti reiciendis eaque at, dolorum odio hic accusamus asperiores!</p>
</div>
{% endblock %}
